@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
    --font-family-base: 'Inter', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
}